@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Kanit&family=Play:wght@400;700&family=Poppins:wght@400;500&family=Protest+Guerrilla&family=Protest+Strike&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour&display=swap');

.footerimg{
  height: 10rem;
  width: 10rem;
  rotate: -2deg;
}
#footer{
  background: linear-gradient(0deg, #edf2fbff, #e2eafcff);
  width: 100%;
  align-items:center ;
  margin: 0 auto;
  height: 275px;
}
.footer{
    display:flex;
    padding:5px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    border-top:1px solid black;
    width:100%;
}
.footerimg{
  margin-left: 70px;
  margin-top: 80px;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.social-icons{
  text-align: end;
  font-size: 1.6rem;
  margin-right: 30px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content:flex-end;
}
.social-icons i{
  margin: 0 20px;
  cursor: pointer;
}
#footer h3{
  float: left;
}
.footer .row{
width:100%;
margin:3px 0%;
padding:10px;
padding-top: 15px;
padding-bottom: 0px;
color:rgb(12, 7, 7);
font-size:1.2em;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: left;
padding-left: 100px;
}
.abouthim{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: left;
color:grey;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#060606;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
  text-align: left;
  
list-style-type: none;
margin:10px 0;

}

.footer .row a i{
font-size:2em;

}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}